<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934560089313-1uu6lbnht3er7n6g971dfoctm9tcv6lc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934560089313-1uu6lbnht3er7n6g971dfoctm9tcv6lc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>934560089313-arsq5j4l3mkpcfptvrav611r9oc49epj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbJburhmWdkiH_ed6_oyQHlObe3QJLTOM</string>
	<key>GCM_SENDER_ID</key>
	<string>934560089313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xhero.app</string>
	<key>PROJECT_ID</key>
	<string>xhero-e1eee</string>
	<key>STORAGE_BUCKET</key>
	<string>xhero-e1eee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934560089313:ios:16085e96b8a0ed66ba63a0</string>
	<key>DATABASE_URL</key>
	<string>https://xhero-e1eee-default-rtdb.firebaseio.com</string>
</dict>
</plist>